<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>公司详情</title>
	</head>
	<body>
		<!--导航-->
		<div id="head-wrap">
			<header>
				<h1 id="logo"><a href="../index.html"><img src="../imgs/logo.jpg"/></a></h1>
				<nav>
					<ul>
						<li>
							<a href="../index.html">首页</a>
						</li>
						<li class="active">
							<a href="complist.html">装修公司</a>
						</li>
						<li>
							<a href="#">装修攻略</a>
						</li>
						<li>
							<a href="termsOfService.html">服务保障</a>
						</li>
						<li>
							<a href="riji.html">装修日记</a>
						</li>
						<li>
							<a href="loginReg.html"><em>&#xe6cb;</em>登录</a><a href="loginReg.html">注册</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		
		<!--detail-->
		<div class="comp-detail">
			<dl class="comp-top">
				<dt>
					<img src="../imgs/company/pic2.jpg"/>
				</dt>
				<dd>
					<div class="comt-left">
						<p><i></i> &nbsp; <span>支持免费量房><span></p>
						<p><i class="i1"></i> &nbsp; <span>支持满意后付款></span></p>
						<p><i class="i2"></i> &nbsp; <span>支持先行赔付></span></p>
					</div>
					<div class="comt-right">
						<p>&nbsp;动态评价</p>
						<p class="comp-star">设计水平：<span></span> <span></span> <span></span> <span></span> <span></span></p>
						<p class="comp-star">服务态度：<span></span> <span></span> <span></span> <span></span> <span></span></p>
						<p class="comp-star">施工质量：<span></span> <span></span> <span></span> <span></span> <span></span></p>
					</div>
				</dd>
			</dl>
			
			<div class="comp-bottom">
				<h2>公 司 简 介</h2>
				<p class="comp-msg">
					小龙装饰公司 是一家集专业设计、施工、售后服务为一体的现代化装饰企业。公司秉承“专业团队、品质服务”的企业精神，公司汇聚了一批高层管理人才、高素质设计精英和一流施工队伍、优质诚信的服务体系而赢得了良好的口碑 ，立志打造装饰行业的经典模范。
					我公司以绿色环保、时尚舒适的装修思想为理念,坚持设计领先，质量为本，诚信服务为宗旨，致力于改善住宅的生态环境，增加住宅艺术的科技含量,全力打造聚功能性、装饰性、环保性为一体的＂绿色环保住宅＂,通过对住宅进行装修设计服务，使住宅更具品质和品位，使客户得到增值和超值服务。
					全方案设计－全优施工－全程服务”为经营宗旨，以“章显生活品质，营造舒适的生活居住环境”为设计理念，专注于打造高品质，人性化的精品工程。为业主提供设计、施工、选材、家具订做、配饰等一体化家居服务，让业主省心、省力、省时又省钱，“设计－施工－管理－服务”一条龙始终贯穿于公司的发展。
					小龙装饰公司 是一家集专业设计、施工、售后服务为一体的现代化装饰企业。公司秉承“专业团队、品质服务”的企业精神，公司汇聚了一批高层管理人才、高素质设计精英和一流施工队伍、优质诚信的服务体系而赢得了良好的口碑 ，立志打造装饰行业的经典模范。
					我公司以绿色环保、时尚舒适的装修思想为理念,坚持设计领先，质量为本，诚信服务为宗旨，致力于改善住宅的生态环境，增加住宅艺术的科技含量,全力打造聚功能性、装饰性、环保性为一体的＂绿色环保住宅＂,通过对住宅进行装修设计服务，使住宅更具品质和品位，使客户得到增值和超值服务。
					全方案设计－全优施工－全程服务”为经营宗旨，以“章显生活品质，营造舒适的生活居住环境”为设计理念，专注于打造高品质，人性化的精品工程。为业主提供设计、施工、选材、家具订做、配饰等一体化家居服务，让业主省心、省力、省时又省钱，“设计－施工－管理－服务”一条龙始终贯穿于公司的发展。
				</p>
			</div>
		</div>
	</body>
	<script src="../bundle.js" type="text/javascript" charset="utf-8"></script>
</html>
