<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>公司列表</title>
	</head>
	<body>
		<!--导航-->
		<div id="head-wrap">
			<header>
				<h1 id="logo"><a href="../index.html"><img src="../imgs/logo.jpg"/></a></h1>
				<nav>
					<ul>
						<li>
							<a href="../index.html">首页</a>
						</li>
						<li class="active">
							<a href="complist.html">装修公司</a>
						</li>
						<li>
							<a href="decorationRaiders.html">装修攻略</a>
						</li>
						<li>
							<a href="termsOfService.html">服务保障</a>
						</li>
						<li>
							<a href="riji.html">装修日记</a>
						</li>
						<li  id="log">
							<a class="change1" href="loginReg.html"><em>&#xe6cb;</em>登录</a><a href="loginReg.html">注册</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		
		<!--内容区-->
		<div class="company-cont">
			
			<!--装修类型-->
			<table border="" cellspacing="" cellpadding="" class="company-table">
				<tr>
					<td id="deco-type" class="type">装修类型</td>
					<td>
						<span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span>
						<span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span>
						<span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span>
						<span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span> <span>普通住宅</span> <span>小户型别墅</span>
					</td>
				</tr>
				<tr>
					<td id="deco-area" class="type">服务区域</td>
					<td>
						<span>二七区</span> <span>惠普区</span> <span>中原区</span> <span>巩义市</span> <span>新密市</span> <span>二七塔</span>
					</td>
				</tr>
			</table>
			
			<!--推荐-->
			<div class="recommend">
				<span id="">
					为你推荐
				</span>
				<a href="recom-more">
					更多 >>
				</a>
			</div>
			
			<!--推荐的内容-->
			<div class="recom-cont">
				<!--商家一-->
				<!--<a href="compdetail.html">
					<dl>
						<dt>
							<img src="../imgs/company/pic1.jpg" alt="" />
						</dt>
						<dd>
							<div class="company-left">
								<p>河南小龙装饰工程有限公司</p>
								<p>
									<span>营</span>
									<span>认</span>
									<span>惠</span>
									<span>金</span>
									<strong>20000元</strong>
									<span>设</span>
									<strong>271套</strong>
									<span>工</span>
									<strong>405个</strong>
									<span>评</span>
									<strong>483个</strong>
								</p>
								<p>
									<i>&#xe711;</i>
									<span>中原西路与秦岭路万达广场B座2716</span>
								</p>
							</div>
							<div class="company-right">
								<strong>口碑值</strong>
								<span>1388</span>
								<strong>好评率</strong>
								<span>99.57%</span>
								<button>免费预约</button>
							</div>
						</dd>
					</dl>
				</a>-->
			</div>
			
		</div>
	</body>
	<script src="../bundle.js" type="text/javascript" charset="utf-8"></script>
</html>
