<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>个人中心</title>
	</head>
	<body>
		<!--头部-->
		<div id="head-wrap">
			<header>
				<h1 id="logo"><a href="../index.html"><img src="../imgs/logo.jpg"/></a></h1>
				<nav>
					<ul>
						<li>
							<a href="../index.html">首页</a>
						</li>
						<li>
							<a href="complist.html">装修公司</a>
						</li>
						<li>
							<a href="decorationRaiders.html">装修攻略</a>
						</li>
						<li>
							<a href="promise.html">服务保障</a>
						</li>
						<li class="active">
							<a href="riji.html">装修日记</a>
						</li>
						<li id="log">
							<a class="change1" href="loginReg.html"><em>&#xe6cb;</em>登录</a><a class="delet1" href="javascript:;">注册</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<!--内容-->
		<div id="content-wrap">
			<div id="content" class="fatie">
				<div class="top">
					<p>
						<img src="../imgs/home_share03.jpg"/>
						<span>GIN.</span>
					</p>
				</div>
				<aside>
					<div class="infos">
						<h3 class="tabs">编辑个人信息</h3>
						<p>个人资料完成度50%</p>
						<div class="progress">
						  <div class="progress-bar"></div>
						</div>
					</div>
					<div class="diarynum">
						<h3 class="tabs">我的装修日记</h3>
						<dl class="rijicon">
							<dt>
								<img src="../imgs/home_share03.jpg"/>
							</dt>
							<dd>
								<p>
									<span>心得</span>
									<span><em>1</em><em>0</em><em>0</em></span>
								</p>
								<p>1小时前发布</p>
							</dd>
						</dl>
						<dl class="rijicon">
							<dt>
								<img src="../imgs/home_share03.jpg"/>
							</dt>
							<dd>
								<p>
									<span>心得</span>
									<span><em>1</em><em>0</em><em>0</em></span>
								</p>
								<p>1小时前发布</p>
							</dd>
						</dl>
					</div>
					<div class="collect">
						<h3 class="tabs">我的收藏</h3>
						<p><em>1</em>篇装修日记</p>
					</div>
				</aside>
				<section>
					<div class="user_info">
						<form enctype="multipart/form-data" >
							<h2>个人资料</h2>
							<p>
								昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：
								<input type="text" name="username"/>
							</p>
							<p>
								性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
								<input type="radio" name="sex" value="男" />男
								<input type="radio" name="sex" value="女" />女
							</p>
							<p>
								所在城市：
								<select name="city">
									<option>市</option>
								</select>
								<select name="town">
									<option>县/区</option>
								</select>
							</p>
							<p>
								当前头像：
								<img src="../imgs/home_share03.jpg" class="url"/>
								<a href="javascript:;" class="file">+上传本地图片
								    <input type="file" name="" id="">
								</a>
							</p>
							<input type="submit" class="submits" value="提交" />
						</form>
					</div>
					<div class="publish">
						<form>
							<h2>我的装修日记</h2>
							<div class="fatie-title">
								<label for="fatie-title">标题:</label><input type="text" name="" id="fatie-title" value=""/>
							</div>
							<textarea id="fatie-con" placeholder="说点什么......"></textarea>
						</form>
						<button id="fatie-release">发布日记</button>
					</div>
					<div class="collection">
						<dl>
							<dt><img src="../imgs/home_share03.jpg"/></dt>
							<dd>
								<p>
									<span>简约不是简单是时尚，小户型怎么打造！</span>
									<span><em>23266</em><em>81</em><em>0</em></span>
								</p>
								<p>
									<em>长沙市</em>
									<em>72m²</em>
									<em>简约</em>
								</p>
								<p>生活的纷扰，工作的繁杂，多少人渴望逃离，去寻找清净，而简约风格，恰好迎合了化繁为简的期许。装修是一件麻烦事，
									首先要考虑是找装修公司半包还是施工队，最后选择装修公司是因为我对装修真的一点不懂，又没有太多...<em class="clicks">查看详情>></em></p>
								<p>刚刚发布</p>
							</dd>
						</dl>
					</div>
					<div class="collection_detail">
						<div class="detail-top">
						 	<dl>
						    	<dt>
						    		<img src="../imgs/rijidetail/toux.jpg" alt="" />
						    		<strong>GIN.</strong>
						    	</dt>
						    	<dd>
						    		<!--左边信息-->
						    		<div class="dd-left">
							    		<h2>简约不是简单是时尚，小户型怎么打造！</h2>
							    		<p>
							    			2017-09-29 16:21
							    		</p>
							    		<p>
							    			房屋信息：    
							    			<span>72</span>㎡&nbsp;
							    			<span>简约</span>
							    			<span>半包</span>
							    		</p>
							    		<p>
							    			  所在小区：    
							    			<span>长沙市</span>
							    			<span>鑫源小区</span>
							    		</p>
							    		<p>
							    			 装修公司：     
							    			<span>还在选择中</span>
							    		</p>
						    		</div>
						    		<!--浏览次数-->
						    		<div class="dd-right">
						    			<div>
						    				<em>39780</em>
						    				<span>浏览</span>
						    			</div>
						    			<div>
						    				<em>84</em>
						    				<span>收藏</span>
						    			</div>
						    			<div>
						    				<em>0</em>
						    				<span>回复</span>
						    			</div>
						    		</div>
						    	</dd>
						    </dl>
						 </div>
						<div class="detail-bottom">
							<!--日记详情-->
							<p class="circle">
								<span>装修日记</span>
							</p>
							<div class="msg-right">
								<div class="text">
									<span>2017年09月20日</span>
									<p>
									经过一段时间的切身使用体验，海尔全新一代的热水器果然要比市场上其他品牌的热水器要好很多，无论是
				加热速度，防漏电以及热水量方面都可以满足我们家庭的使用需要，确实是给大家的良心推荐。
									</p>
									<span>
										<em class="check">1条评论</em>&nbsp;<em>2</em>
									</span>
									<i class="jt"></i>
								</div>
								
								<!--留言-->
								<div class="leave-words">
									<ul>
										<li>
											<img src="../imgs/rijidetail/touxi1.jpg"/>
											<div class="lw">
													<p><span class="dia-name">这个产品不太冷&nbsp;</span>&nbsp; <span>2017-08-19</span></p>
			     									<p>亲爱的楼主，可以加下你微信么，有些问题想咨询你！谢谢啦！</p>
											</div>
										</li>
									</ul>
								</div>
							</div>
								</div>

					</div>
					
				</section>
			</div>
		</div>
		<!--底部-->
		<div id="footer-wrap">
			<footer>
				<p>
					<a href="#">关于我们</a><a href="#">联系我们</a><a href="#">媒体报道</a><a href="#">帮助中心</a><a href="#">意见反馈</a><a href="#">高薪聘请</a><a href="#">校园招聘</a><a href="#">法律声明</a><a href="#">商务合作</a>
				</p>
				<p>免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品情形，请及时与本站联系。© 2017 Tubatu.com 理想家 保留所有权利</p>
				<p><span>中国装修网</span><span>豫ICP备08125558号</span><span><em></em><em></em><em></em><em></em></span></p>
			</footer>
		</div>
	</body>
	<script src="../bundle.js" type="text/javascript" charset="utf-8"></script>
	<!--<script src="../script/fatie.js" type="text/javascript" charset="utf-8"></script>-->
</html>
