<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../scss/bootstrap.css"/>
	</head>
	<body>
		<!--头部-->
		<div id="head-wrap">
			<header>
				<h1 id="logo"><a href="../index.html"><img src="../imgs/logo.jpg"/></a></h1>
				<nav>
					<ul>
						<li>
							<a href="../index.html">首页</a>
						</li>
						<li>
							<a href="complist.html">装修公司</a>
						</li>
						<li>
							<a href="#">装修攻略</a>
						</li>
						<li>
							<a href="#">服务保障</a>
						</li>
						<li class="active">
							<a href="../view/riji.html">装修日记</a>
						</li>
						<li>
							<a href="loginReg.html"><em>&#xe6cb;</em>登录</a><a href="loginReg.html">注册</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<!--内容-->
		<div id="content-wrap">
			<div id="content" class="fatie">
				<div class="top">
					<p>
						<img src="../imgs/home_share03.jpg"/>
						<span>GIN.</span>
					</p>
				</div>
				<aside>
					<div class="infos">
						<h3 class="tabs">编辑个人信息</h3>
						<p>个人资料完成度50%</p>
						<div class="progress">
						  <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
						</div>
					</div>
					<div class="diarynum">
						<h3 class="tabs">我的装修日记</h3>
						<dl class="rijicon">
							<dt>
								<img src="../imgs/home_share03.jpg"/>
							</dt>
							<dd>
								<p>
									<span>心得</span>
									<span><em>1</em><em>0</em><em>0</em></span>
								</p>
								<p>1小时前发布</p>
							</dd>
						</dl>
						<dl class="rijicon">
							<dt>
								<img src="../imgs/home_share03.jpg"/>
							</dt>
							<dd>
								<p>
									<span>心得</span>
									<span><em>1</em><em>0</em><em>0</em></span>
								</p>
								<p>1小时前发布</p>
							</dd>
						</dl>
					</div>
				</aside>
				<section>
					<div class="user_info">
						<form>
							<h2>个人资料</h2>
							<p>
								昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：
								<input type="text" name="username"/>
							</p>
							<p>
								性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别：
								<input type="radio" name="sex" value="男" />男
								<input type="radio" name="sex" value="女" />女
							</p>
							<p>
								所在城市：
								<select name="city">
									<option>市</option>
								</select>
								<select name="town">
									<option>县/区</option>
								</select>
							</p>
							<p>
								当前头像：
								<img src="../imgs/home_share03.jpg" class="url"/>
								<a href="javascript:;" class="file">+上传本地图片
								    <input type="file" name="" id="">
								</a>
							</p>
							<input type="submit" class="submits" value="提交" />
						</form>
					</div>
					<div class="publish">
						<form>
							<h2>我的装修日记</h2>
							<textarea placeholder="说点什么......"></textarea>
						</form>
						<button>发布日记</button>
					</div>
				</section>
			</div>
		</div>
		<!--底部-->
		<div id="footer-wrap">
			<footer></footer>
		</div>
	</body>
	<script src="../bundle.js" type="text/javascript" charset="utf-8"></script>
	<script src="../jslib/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../script/fatie.js" type="text/javascript" charset="utf-8"></script>
</html>
