<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>服务保障</title>
	</head>
	<body>
		<div id="head-wrap">
			<header>
				<h1 id="logo"><a href="../index.html"><img src="../imgs/logo.jpg"/></a></h1>
				<nav>
					<ul>
						<li>
							<a href="/">首页</a>
						</li>
						<li>
							<a href="complist.html">装修公司</a>
						</li>
						<li>
							<a href="decorationRaiders.html">装修攻略</a>
						</li>
						<li class="active">
							<a href="promise.html">服务保障</a>
						</li>
						<li>
							<a href="riji.html">装修日记</a>
						</li>
						<li id="log">
							<a class="change" href="loginReg.html"><em>&#xe6cb;</em>登录</a>
							<a href="loginReg.html">注册</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<div id="banner" class="promise_banner" style="height: 478px;"></div>
		<div id="content-wrap" class="promise_wrap">
			<div>
				<h2>
					<p>装修保是什么？</p>
					<span>理想家创立“装修保”服务，保障业主装修质量，并为业主监管装修资金。</span>
					<ul>
						<li>
							<h5><span>541332</span>位</h5>
							已服务业主
						</li>
						<li>
							<h5><span>2156665</span>次</h5>
							完成验收服务
						</li>
						<li>
							<h5><span>99.6%</span></h5>
							纠纷满意解决率
						</li>
					</ul>
				</h2>
			</div>
			<div></div>
			<div>
				<h3>
					<p>专业质检管家帮你免费质检</p>
					<span>帮你把关装修质量问题，提供可靠的建议方案</span>
				</h3>
				<ul>
					<li>
						<span>1</span>
						<p>开工前</p>
						<span>签订装修保协议</span>
					</li>
					<li>
						<span>2</span>
						<p>专业质检</p>
						<span>提供关键工程节点质检验收质量不合格一律要求整改合格为止</span>
					</li>
					<li>
						<span>3</span>
						<p>验收完毕</p>
						<span>出具验收报告单</span>
					</li>
				</ul>
			</div>
			<div>
				<h3>
					<p>快速维权</p>
					<span>杜绝扯皮推诿，投诉无门</span>
				</h3>
				<b></b>
			</div>
		</div>
		<div id="footer-wrap">
			<footer>
				<p>
					<a href="#">关于我们</a><a href="#">联系我们</a><a href="#">媒体报道</a><a href="#">帮助中心</a><a href="#">意见反馈</a><a href="#">高薪聘请</a><a href="#">校园招聘</a><a href="#">法律声明</a><a href="#">商务合作</a>
				</p>
				<p>免责声明：本网站部分内容由用户自行上传，如权利人发现存在误传其作品情形，请及时与本站联系。© 2017 Tubatu.com 理想家 保留所有权利</p>
				<p><span>中国装修网</span><span>豫ICP备08125558号</span><span><em></em><em></em><em></em><em></em></span></p>
			</footer>
		</div>
	</body>
	<script src="../bundle.js" type="text/javascript" charset="utf-8"></script>
</html>
