<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>装修日记</title>
	</head>
	<body>
		<!--头部-->
		<div id="head-wrap">
			<header>
				<h1 id="logo"><a href="../index.html"><img src="../imgs/logo.jpg"/></a></h1>
				<nav>
					<ul>
						<li>
							<a href="../index.html">首页</a>
						</li>
						<li>
							<a href="complist.html">装修公司</a>
						</li>
						<li>
							<a href="decorationRaiders.html">装修攻略</a>
						</li>
						<li>
							<a href="termsOfService.html">服务保障</a>
						</li>
						<li class="active">
							<a href="riji.html">装修日记</a>
						</li>
						<li id="log">
							<a class="change1" href="loginReg.html"><em>&#xe6cb;</em>登录</a><a class="delet1" href="javascript:;">注册</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		<div id="content-wrap">
			<div id="content">
				<section>
					<div class="tits">
						<span>业主日记</span>
					</div>
					<div class="con">
						<dl>
							<dt><img src="../imgs/home_share03.jpg"/></dt>
							<dd>
								<p>
									<span>简约不是简单是时尚，小户型怎么打造！</span>
									<span><em>23266</em><em>81</em><em>0</em></span>
								</p>
								<p>
									<em>长沙市</em>
									<em>72m²</em>
									<em>简约</em>
								</p>
								<p>生活的纷扰，工作的繁杂，多少人渴望逃离，去寻找清净，而简约风格，恰好迎合了化繁为简的期许。装修是一件麻烦事，
									首先要考虑是找装修公司半包还是施工队，最后选择装修公司是因为我对装修真的一点不懂，又没有太多...<em class="look-detail">查看详情>></em></p>
								<p>刚刚发布</p>
							</dd>
						</dl>
						<dl>
							<dt><img src="../imgs/home_share03.jpg"/></dt>
							<dd>
								<p>
									<span>简约不是简单是时尚，小户型怎么打造！</span>
									<span><em>23266</em><em>81</em><em>0</em></span>
								</p>
								<p>
									<em>长沙市</em>
									<em>72m²</em>
									<em>简约</em>
								</p>
								<p>生活的纷扰，工作的繁杂，多少人渴望逃离，去寻找清净，而简约风格，恰好迎合了化繁为简的期许。装修是一件麻烦事，
首先要考虑是找装修公司半包还是施工队，最后选择装修公司是因为我对装修真的一点不懂，又没有太多...<em class="look-detail">查看详情>></em></p>
								<p>刚刚发布</p>
							</dd>
						</dl>
					</div>
				</section>
				<aside>
					<h2><a href="fatie.html">写装修日记</a></h2>
					<ul>
						<li>达人榜</li>
						<li>
							<img src="../imgs/home_share03.jpg"/>
							<div>
								<h3>悠米</h3>
								<p>月贡献度：2723</p>
							</div>
						</li>
						<li>
							<img src="../imgs/home_share05.jpg"/>
							<div>
								<h3>悠米</h3>
								<p>月贡献度：2723</p>
							</div>
						</li>
					</ul>
				</aside>
			</div>
			<div id="clear"></div>
		</div>
		<!--底部-->
		<div id="footer-wrap">
			<footer></footer>
		</div>
	</body>
	<script src="../bundle.js" type="text/javascript" charset="utf-8"></script>
	<script src="../jslib/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
	<script src="../script/home.js" type="text/javascript" charset="utf-8"></script>
	<script src="../script/riji.js" type="text/javascript" charset="utf-8"></script>
</html>
