<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>日记详情</title>
	</head>
	<body>
		<!--导航-->
		<div id="head-wrap">
			<header>
				<h1 id="logo"><img src="../imgs/logo.jpg"/></h1>
				<nav>
					<ul>
						<li>
							<a href="../index.html">首页</a>
						</li>
						<li>
							<a href="complist.html">装修公司</a>
						</li>
						<li>
							<a href="decorationRaiders.html">装修攻略</a>
						</li>
						<li>
							<a href="termsOfService.html">服务保障</a>
						</li>
						<li class="active">
							<a href="../view/riji.html">装修日记</a>
						</li>
						<li>
							<a class="change1" href="loginReg.html"><em>&#xe6cb;</em>登录</a><a class="delet1" href="javascript:;">注册</a>
						</li>
					</ul>
				</nav>
			</header>
		</div>
		
		<!--日记信息介绍-->
		<div class="diary-detail">
			<!--<p>装修日记 >
				<span id="">
				简约不是简单是时尚，小户型怎么打造！
			    </span>
		    </p>
		    
		    
		    <dl>
		    	<dt>
		    		<span>
		    			<img src="../imgs/rijidetail/toux.jpg" alt="" />
		    		</span>
		    		<br />
		    		<strong>GIN.</strong>
		    	</dt>
		    	<dd>
		    		<div class="dd-left">
			    		<h2>简约不是简单是时尚，小户型怎么打造！</h2>
			    		<p id="">
			    			2017-09-29 16:21
			    		</p>
			    		<p>
			    			房屋信息：    
			    			<span>72</span>㎡&nbsp;
			    			<span>简约</span>
			    			<span>半包</span>
			    		</p>
			    		<p>
			    			  所在小区：    
			    			<span>长沙市</span>
			    			<span>鑫源小区</span>
			    		</p>
			    		<p>
			    			 装修公司：     
			    			<span>还在选择中</span>
			    		</p>
		    		</div>

					<div class="dd-right">
		    			<div>
		    				<em>39780</em>
		    				<span>浏览</span>
		    			</div>
		    			<div>
		    				<em>84</em>
		    				<span>收藏</span>
		    			</div>
		    			<div>
		    				<em>0</em>
		    				<span>回复</span>
		    			</div>
		    		</div>
		    	</dd>
		    </dl>-->
		</div>
	
		<!--日记详情-->
		<div class="diary-msg">
			<div class="dia-msg">
				<p class="dia-circle">
					<span id="">
						装修日记
					</span>
				</p>
				
				<!--日记详情-->
				<div class="diamsg-right">
					<!--日记文章-->
					<div class="diat-text">
						<span>2017年09月20日</span>
						<p>
						经过一段时间的切身使用体验，海尔全新一代的热水器果然要比市场上其他品牌的热水器要好很多，无论是
	加热速度，防漏电以及热水量方面都可以满足我们家庭的使用需要，确实是给大家的良心推荐。
						</p>
						<span>
							<span><em>1条回复 </em>&nbsp;<em>2</em></span>
						</span>
						<i class="jt"></i>
					</div>
					
					<!--留言-->
					<div class="leave-word">
						<ul>
							<li>
								<span>
									<img src="../imgs/rijidetail/touxi1.jpg"/>
								</span>
								<div class="lw">
										<p><span class="dia-name">这个产品不太冷&nbsp;</span>&nbsp; <span>2017-08-19</span></p>
     									<p>亲爱的楼主，可以加下你微信么，有些问题想咨询你！谢谢啦！</p>
								</div>
							</li>
							<!--<li>
								<span>
									<img src="../imgs/rijidetail/toux.jpg"/>
								</span>
								<div class="lw">
										<p>
											<span class="dia-name">GNI.&nbsp;</span>
											<span>回复&nbsp;</span>
											<span class="dia-name">这个产品不太冷:&nbsp;</span>
											&nbsp;
											<span>可以</span>
										</p>
								</div>
							</li>-->
						</ul>
						
						<!--评论-->
					<!--	<div class="dia-pl">
							<span class="toux">
								<img src="../imgs/rijidetail/toux2.jpg"/>
							</span>
							<div class="diap-cont">

								<textarea name="" rows="" cols="" placeholder="说说你的想法. . ."></textarea>
								
								<p class="send">
									<span>您还可以输入200字</span>
									<button>发表评论</button>
								</p>
							</div>
							
						</div>-->
					</div>
				</div>
			</div>
		</div>
	</body>
	<script src="../bundle.js" type="text/javascript" charset="utf-8"></script>
</html>
